<div class="set-center flex-column" style="height:100vh;">
  <div class="card" style="width: 20rem;">
    <div class="card-header">
      <h2 class="text-center">Sign Up</h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mb-3 form-control" %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "mb-3 form-control" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mb-3 form-control" %>
        </div>
        <div class="actions d-flex justify-content-center mt-2">
          <%= f.submit "Sign up", class: "btn-primary border-0 rounded shadow w-100 my-3 py-2" %>
        </div>
      <% end %>
      <div>
        <p>Have an account? 
          <%= link_to "Log in", new_session_path(resource_name) %><br />
        </p>
      </div>
    </div>
  </div>
</div>