<div class="set-center flex-column form">
  <div class="card shadow" style="width: 36rem;">
    <div class="card-body">
      <!--Error Message-->
      <% if post.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% post.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <!-- Form Started Here -->
      <%= form_with model: @post do |f| %>
        <%= f.label :title, "Title :", class:"mt-3" %>
        <%= f.text_field :title, placeholder: "Enter Title", class:"mb-2 form-control" %>
        <br>
        <%= f.label :content, "Content :" %>
        <%= f.text_area :content ,placeholder: "Enter Content", class:"mb-2 form-control" %>
        <br>
        <%= f.label :header_image, "Poster :" %>
        <%= f.file_field :header_image, class:"mb-2 form-control" %>
        <br>
        <%= f.label :files, "Images :" %>
        <%= f.file_field :files, multiple: true , class:"mb-2 form-control" %>
        <br>
        <%= f.label :premium, "Premium :" %>
        <%= f.check_box :premium , class:"mb-3 form-check-input" %>
        <br>
        <div class="d-flex justify-content-center">
          <%= f.submit "Save Post", class:"btn-secondary border-0 shadow py-2 px-5" %>
        </div>
      <% end %>
      <%  if @post.files.attached? %>
        <table class="table table-light table-striped">
          <ol class="fs-2">
            <thead class="table-light">
              <td> Uploaded Images </td>
              <td> Action </td>
            </thead>
            <% @post.files.each do |file| %>
              <tr>
                <td>
                  <%= link_to file.filename, rails_blob_path(file, disposition: :attachment) %>
                </td>
                <td>
                  <%= link_to 'Remove', delete_file_post_url(file.id), data: { turbo_method: :delete }, style: "color:red; text-decoration:none" %>
                </td>
              </tr>
            <% end %>
          </ol>
        </table>
      <% end %>
    </div>
  </div>
</div>
