<!DOCTYPE html>
<html>
  <head>
    <title>StripeDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <br>
    <%= link_to "The TypeWriter Speaks", posts_path%>
    <hr>
    <%= link_to "Prices", pricing_path%>
    <% if current_user %>
      <%= link_to "Checkout", checkout_create_path,method: :post,data: {turbo: false} %>
      <%= link_to current_user.email, edit_user_registration_path %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
      <br>
      Stripe Customer ID:
      <%= current_user.stripe_customer_id %>
      <br>
      Plan:
      <%= current_user.plan %>
      <br>
      Subscription Status:
      <%= current_user.subscription_status %>
    <% else %>
      <%= link_to "Log in", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    <% end %>
    <hr>
    <%= yield %>
  </body>
</html>
